@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,700;1,300&display=swap');

body {
    font-family: 'Work Sans', sans-serif;
    overflow-x: hidden;
}

ol, ul {
    list-style: none;
    padding-left: 0;
    margin-right: 10px;
}

/* Container Wrappers */

.container-wrapper__red {
    background-color: #f44336;
    color: #fff;
}

.alert-container .col-12 {
    padding-left: 0;
    padding-right: 0;
}

.site-wide-alert {
    border-radius: 0;
    margin-bottom: 0;
    padding: 5px 15px;
    background-color: #eec802;
    border-color: #eec802;
}

.callout-container {
    height: 100vh;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

}

.opacity-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/* .features-container {}

.testimonials-container {} */

/* Page headers */

.page-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

.page-header h2 {
    margin-top: 0;
}

/* Block dividers */
.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: #444;
}

.block-divider__orange {
    background: #f5bc1f;
}

.block-divider__white {
    background: #fff;
}

.block-divider__short {
    width: 35px;
}

/* Content Containers */

.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}

/* Navbar */

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    border-bottom: 1px solid #ffffff28;
    width: 100%;
    background-color: rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar-brand {
    font-weight: bold;
}

.navbar .navbar-nav a {
    font-weight: bold;
}

/* Jumbotron */

.jumbotron {
    background-color: transparent;
    margin-top: 120px;
}

.jumbotron-header {
    color: #fff;
    font-weight: bold;
    margin-bottom: 30px;
}

.jumbotron .lead {
    margin: 25px 0;
    color: #A7A7A7;
}

.jumbotron small {
    font-size: 65%;
    color: #d0d0d0;
}

/* Buttons */

.btn__cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn__yellow {
    color: #fff;
    background-color: #f5bc1f;
    border-color: #f5bc1f;
}

.btn__yellow:hover,
.btn__yellow:focus,
.btn__yellow:active,
.btn__yellow:active:focus {
    background-color: #cb980f;
    border-color: #cb980f;
}

.feature {
    text-align: center;
    margin-bottom: 40px;
}

.feature i {
    font-size: 45px;
    line-height: 45px;
    margin-bottom: 20px;
}

.feature .btn {
    background-color: #f5bc1f;
    border-color: #f5bc1f;
    border-radius: 15px;
    min-width: 100px;
    font-weight: bold;
    margin-top: 10px;;
    color: #fff;
}